<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="SqlKey" value="Data Source=haxtar.database.windows.net;Initial Catalog=Vardiya;User ID=haxtar;Password=Bb39676321436"/>
	</appSettings>
</configuration>